/* styles.css */

/* Reset default styles and add some basic styling */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #E9E9ED;
  margin-left: 100px; /* Add left margin */
}

/* Style the header and navigation */
header {
  background-color: #333;
  color: #373f47;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #6c91c2;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
